.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.004883;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.980957;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc1{color:rgb(64,64,64);}
.fc2{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:49.439999px;}
.fs1{font-size:72.000000px;}
.fs0{font-size:80.000000px;}
.fs4{font-size:132.000000px;}
.fs3{font-size:148.360001px;}
.y0{bottom:0.000000px;}
.y12{bottom:61.531647px;}
.y11{bottom:115.621658px;}
.y19{bottom:115.621674px;}
.y10{bottom:169.711670px;}
.yf{bottom:179.068451px;}
.ye{bottom:193.768646px;}
.yd{bottom:213.208649px;}
.yc{bottom:232.648651px;}
.yb{bottom:252.088654px;}
.y20{bottom:277.478378px;}
.ya{bottom:290.968628px;}
.y9{bottom:310.408615px;}
.y8{bottom:329.848602px;}
.y1f{bottom:330.018372px;}
.y18{bottom:340.208679px;}
.y7{bottom:349.288589px;}
.y16{bottom:358.828049px;}
.y6{bottom:368.728577px;}
.y1e{bottom:382.558365px;}
.y17{bottom:394.298676px;}
.y5{bottom:407.608551px;}
.y15{bottom:412.918045px;}
.y4{bottom:427.048553px;}
.y1d{bottom:435.098366px;}
.y3{bottom:446.488556px;}
.y2{bottom:465.928558px;}
.y14{bottom:467.008041px;}
.y1c{bottom:487.638367px;}
.y1b{bottom:506.063271px;}
.y13{bottom:521.098045px;}
.y1{bottom:524.727781px;}
.y1a{bottom:560.153271px;}
.h3{height:35.776405px;}
.h2{height:52.101562px;}
.h1{height:58.398438px;}
.h5{height:110.085938px;}
.h4{height:123.729922px;}
.h0{height:792.000000px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.x1{left:24.528290px;}
.x4{left:33.381813px;}
.x2{left:35.018188px;}
.x3{left:36.687241px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs2{font-size:65.919998pt;}
.fs1{font-size:96.000000pt;}
.fs0{font-size:106.666667pt;}
.fs4{font-size:176.000000pt;}
.fs3{font-size:197.813334pt;}
.y0{bottom:0.000000pt;}
.y12{bottom:82.042196pt;}
.y11{bottom:154.162211pt;}
.y19{bottom:154.162231pt;}
.y10{bottom:226.282227pt;}
.yf{bottom:238.757935pt;}
.ye{bottom:258.358195pt;}
.yd{bottom:284.278198pt;}
.yc{bottom:310.198201pt;}
.yb{bottom:336.118205pt;}
.y20{bottom:369.971171pt;}
.ya{bottom:387.958171pt;}
.y9{bottom:413.878153pt;}
.y8{bottom:439.798136pt;}
.y1f{bottom:440.024495pt;}
.y18{bottom:453.611572pt;}
.y7{bottom:465.718119pt;}
.y16{bottom:478.437398pt;}
.y6{bottom:491.638102pt;}
.y1e{bottom:510.077820pt;}
.y17{bottom:525.731567pt;}
.y5{bottom:543.478068pt;}
.y15{bottom:550.557393pt;}
.y4{bottom:569.398071pt;}
.y1d{bottom:580.131154pt;}
.y3{bottom:595.318075pt;}
.y2{bottom:621.238078pt;}
.y14{bottom:622.677389pt;}
.y1c{bottom:650.184489pt;}
.y1b{bottom:674.751027pt;}
.y13{bottom:694.797394pt;}
.y1{bottom:699.637042pt;}
.y1a{bottom:746.871028pt;}
.h3{height:47.701874pt;}
.h2{height:69.468750pt;}
.h1{height:77.864583pt;}
.h5{height:146.781250pt;}
.h4{height:164.973230pt;}
.h0{height:1056.000000pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x1{left:32.704386pt;}
.x4{left:44.509084pt;}
.x2{left:46.690918pt;}
.x3{left:48.916321pt;}
}
